.placar {
    color: white;
    background-color: rgb(92, 91, 91);
    background-size: auto;
    font-size: 4rem;
    border: 5px solid rgb(255, 196, 0);
    border-style: groove;
    border-radius: 10px;
    font-family: Helvetica;
    text-align: center;
    vertical-align: middle;
}

#homeTeam {
    background-color: rgb(141, 35, 16);
    background-image: linear-gradient(0deg, rgba(255, 255, 255, 0.3) 0%, rgba(0,0,0,0.4) 20%, rgba(0,0,0,0.4) 80%, rgba(255,255,255,0.3) 100%);
}

#visitorTeam {
    background-color: rgb(0, 122, 221);
    background-image: linear-gradient(0deg, rgba(255, 255, 255, 0.3) 0%, rgba(0,0,0,0.4) 20%, rgba(0,0,0,0.4) 80%, rgba(255,255,255,0.3) 100%);
}

.teamCards{
    background-image: linear-gradient(0deg, rgba(255, 255, 255, 0.3) 0%, rgba(0,0,0,0.4) 20%, rgba(0,0,0,0.4) 80%, rgba(255,255,255,0.3) 100%);
    padding: 0px 15px;
    background-size: 150%;
}
